{:paths   ["src" "test" "resources"]
 :deps    {babashka/fs                      {:mvn/version "0.5.26"}
           babashka/nrepl-client            {:git/url "https://github.com/babashka/nrepl-client"
                                             :git/sha "9ad255a26525abb968b7345c145122f626a4339c"}
           babashka/process                 {:mvn/version "0.6.23"}
           cheshire/cheshire                {:mvn/version "6.0.0"}
           com.bhauman/rebel-readline-nrepl {:mvn/version "0.1.6"}
           io.github.paintparty/bling       {:mvn/version "0.8.8"}
           io.github.tonsky/clj-reload      {:mvn/version "1.0.0"}
           io.github.tonsky/clojure-plus    {:mvn/version "1.7.0"}
           hiccup/hiccup                    {:mvn/version "2.0.0"}
           http-kit/http-kit                {:mvn/version "2.8.0"}
           nrepl/nrepl                      {:mvn/version "1.4.0"}
           org.clj-commons/hickory          {:mvn/version "0.7.3"}
           org.babashka/cli                 {:mvn/version "0.8.66"}
           org.clojure/tools.namespace      {:mvn/version "1.3.0"}
           ring/ring-defaults               {:mvn/version "0.6.0"}
           dev.weavejester/medley           {:mvn/version "1.9.0"}
           rewrite-clj/rewrite-clj          {:mvn/version "1.1.47"}}
 :aliases {:invoker
           {:deps      {io.github.filipesilva/invoker {:git/tag "v1.0.0" :git/sha "abc123"}}
            :main-opts ["-m" "invoker"]}}}
